.background-color-launch{
    background-color: white;

    /* padding: 69px 20px; */
    /* padding-bottom: 114px;
    padding-left: 20px; */
}
.launch-content-here {
    color: black;
    /* padding: 10px 0px; */
    /* text-align: justify; */
}
.launch-content-here h3{
    color: black;
    padding: 12px 0px;

}
.launch-content-here p{
    color: black;
}
@media only screen and (max-width: 900px) {
    .launch-content-here {
        color: black;
        padding: 10px 15px;
        text-align: justify;
    }
    .background-color-launch {
        background-color: white;
        /* padding: 69px 20px; */
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;

    }
  }